<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet"href="css/login.css">
    </head>
<body>
    <div class="container">
        <div class="left">
            <h2>Welcome to sync'd!</h2>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter your email address">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter your password">
                </div>
                <div class="actions">
                    <div>
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <a href="forgotpw.html">Forgot your password?</a>
                </div>
                <button type="submit" class="btn">Log In</button>
            </form>
            <div class="alternative-login">
                <p>Or</p>
                <button>Sign up with Google</button>
                <p>Don't have an account? <a href="signup.html">Register here</a></p>
            </div>
        </div>
        <div class="right">
            <!-- Replace the src link with your image path -->
            <img src="index login.jpg" alt="Graphic Design">
        </div>
    </div>
    </body>
</html>
